.movie-item {
  position: relative;
  margin-bottom: 1em;
}

.movie-item .content {
  position: relative;
}

.movie-item img {
  width: 100%;
}

.movie-item h2 {
  width: 75%;
  margin-left: 0.4rem;
  font-weight: lighter;
}

.movie-item .date {
  margin-left: 0.4rem;
}

.movie-item .fav {
  position: absolute;
  top: 0;
  right: 0.6em;
  font-size: 2em;
}

.movie-item .date-picker {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
}
